html,
body {
    background: gray;
}

.container {
    background: white;


}

input {

    font-family: "Times New Roman";
}



button {
    width: 500px;
}

h1 {
    color: brown;
   font-family: "Times New Roman";
}
label{
 font-family: "Times New Roman";

}
h3{
  font-family: "Times New Roman";
}