<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Imagen memes</title>




    <link  rel="stylesheet" href="/static/css/estilos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/script/validaciones.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>

<div class="container">


 <h1>Inserte su imagenen</h1>
<form  name="formulariImagen"  action="{% url  'subir' %}" method="post"  enctype="multipart/form-data">

       {% csrf_token   %}


    <div class=" form-check " >

        <ul>


        <li>

        <input class="form-check-input" type="checkbox"  checked disabled id="memeImagen">
             <label form-check-label for="memeImagen">Meme solo  con  imagen
         </label>
            </li>



       <li>


        <input class="form-check-input" name="checkTexto" id="checkboxMensaje"  onclick="alertaChecked() "type="checkbox"/>
            <label for="checkboxMensaje" form-check-label>Meme con texto y imagen
           </label>
       </li>

      <li>
    <input class="form-chceck-input" name="ceckTamaño" id="checkboxTamaño" onclick="alterarTexto()" type="checkbox"/>
          <label for="checkboxTamaño"  form-check-label>Cambiar tamaño
        </label>
      </li>
            <li>
                <input class="form-chceck-input" name="checkBN" id="imagenBN" type="checkbox">
                <label for="imagenBN" form-check-label >Imagen Blanco y Negro</label>
            </li>
            <li>
                <input class="form-chceck-input" name="checkPixel" id="pixel" type="checkbox" >
                <label for="pixel"  form-check-label>Imagen pixeliada</label>

            </li>
            <li>
                <input class="form-chceck-input" name="checkRotacion" id="rotacion" type="checkbox" onclick="rotarImagen()">
                <label for="rotacion" form-check-label>Rotar Imagen</label>

            </li>
        </ul>
    </div>






    <input id="validarImagen" class="form-control" type="file" name="imagens" required onchange="return validacionImagen()"/>



    <br/>
    <label>Texto</label>
    <input class= "form-control" name="textoMeme" disabled  type="text" maxlength="25"  />
    <br/>
    <label>Tamaño de la letra</label>
    <input class="form-control" disabled name="numeroMeme"  type="number" max="100" placeholder="">
    <label> Alto</label>
    <input class="form-control" disabled name="cambiarAlto" type="number" min="10" max="200">
    <label>Ancho</label>
    <input class="form-control" disabled name="cambiarAncho" type="number" min="10" max="200">
     <label>Rotacion de la imagen</label>
    <input class="form-control" disabled name="rotarI" type="number" min="0" max="360">

    <button class="btn btn-primary"  type="submit">SUBIR IMAGENES</button>
</form>
    </div>

</body>


</html>
